@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styles for components that need precise control beyond utility classes */

.transform-style-3d {
  transform-style: preserve-3d;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #050b51;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e074a;
}
